:root {
    --x: 2;
    --gap: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--x), 1fr);
    grid-gap: var(--gap);
}

.text-center {
    text-align: center;
}

.center, .btn, .swiper-button-next, .swiper-button-prev {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.centerAbsolute {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.swiper .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #fff !important;
    border: 2px solid #fff !important;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #007ebd !important;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.35);
    font-size: 0;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    transition: 0.35s;
}

.swiper-button-next:not(.swiper-button-disabled):hover, .swiper-button-prev:not(.swiper-button-disabled):hover {
    background: rgba(0, 0, 0, 0.7);
}

.swiper-button-next:before, .swiper-button-prev:before {
    content: "";
    background: url("../images/icons/arrow.svg") center/contain no-repeat;
    width: 13px;
    display: block;
    height: 13px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35 !important;
    cursor: default;
}

.swiper-button-next {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 0;
    opacity: 0;
    margin-right: -50px;
}

.swiper-button-prev {
    -webkit-transform: translate(0, -50%) rotate(180deg);
    transform: translate(0, -50%) rotate(180deg);
    left: 0;
    margin-left: -50px;
    opacity: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper:hover .swiper-button-prev {
    margin-left: 0;
}

.swiper:hover .swiper-button-next {
    margin-right: 0;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    opacity: 1;
}

.swiper .swiper-pagination {
    position: absolute;
    bottom: 25px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 6;
    display: -ms-flexbox;
    display: flex;
}

.swiper .swiper-pagination-bullet {
    width: 11px;
    display: block;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #A3A3A3;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.35s;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #A3A3A3;
    border: 1px solid #A3A3A3;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.accord-head {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    transition: 0.3s;
    transition-delay: 0.15s;
}

.accord-head h3 {
    margin-bottom: 0;
}

.accord-head img {
    margin-top: 3px;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.accord-hide {
    display: none;
}

.i, .i-search, .i-instagramm, .i-phone, .i-facebook, .i-email {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.i-email {
    width: 14px;
    height: 14px;
    background-image: url("../images/icons/mail.svg");
}

.i-facebook {
    width: 13px;
    height: 14px;
    opacity: 0.7;
    background-image: url("../images/icons/fb.svg");
}

.i-facebook.white {
    opacity: 1;
    background-image: url("../images/icons/fbWhite.svg");
}

.i-phone {
    width: 12px;
    height: 14px;
    background-image: url("../images/icons/phone.svg");
}

.i-phone.white {
    background-image: url("../images/icons/phoneWhite.svg");
}

.i-instagramm {
    width: 15px;
    height: 18px;
    background-image: url("../images/icons/instagramm.svg");
    opacity: 0.7;
}

.i-instagramm.white {
    opacity: 1;
    background-image: url("../images/icons/instagrammWhite.svg");
}

.i-search {
    width: 17px;
    height: 19px;
    background-image: url("../images/icons/search.svg");
}

.b-share-icon {
    float: left;
    display: inline;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 0 !important;
    vertical-align: top;
    border: 0;
    background: url("../images/icons/b-share-icon.png") 0 99px no-repeat;
}

.b-share-icon_vkontakte, .b-share-icon_custom {
    background-position: 0 0;
}

.b-share-icon_facebook {
    background-position: 0 -68px;
}

.b-share-icon_twitter {
    background-position: 0 -51px;
}

.b-share-icon_odnoklassniki {
    background-position: 0 -170px;
}

.b-share-icon_moimir {
    background-position: 0 -85px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
}

main {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

body, html {
    width: 100%;
    max-width: 100vw;
    color: #555555;
    line-height: 1.57;
    letter-spacing: -0.02rem;
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

input, textarea {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.line-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.flex-column, .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container {
    max-width: 1512px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

input {
    border: none;
    background: none;
    outline: none;
    padding-left: 15px;
}

input::-webkit-input-placeholder {
    color: #555555;
}

input::-moz-placeholder {
    color: #555555;
}

input:-ms-input-placeholder {
    color: #555555;
}

input::-ms-input-placeholder {
    color: #555555;
}

input::placeholder {
    color: #555555;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #555555;
    display: block;
}

a.hover:hover {
    color: #007ebd;
    text-decoration: underline;
}

h1 {
    font-size: 36px;
    line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.13rem;
    font-weight: 300;
    margin: 0 0 15px 0;
}

h3 {
    font-size: 28px;
    line-height: 1.285;
    letter-spacing: -0.05rem;
}

h4 {
    font-size: 24px;
    letter-spacing: normal;
    line-height: 27px;
}

h2 {
    font-size: 30px;
    line-height: 1.1667;
}

h6 {
    font-size: 16px;
    letter-spacing: normal;
    line-height: 18px;
}

.fz16 {
    font-size: 16px;
}

.fz18 {
    font-size: 18px;
}

.logo {
    max-width: 251px;
}

.searchToggler {
    width: 30px;
    height: 100%;
    background: #a0b0ba;
    padding-top: 2px;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;
}

.searchToggler:hover {
    background: #007ebd;
}

.search {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 28px;
    border-radius: 5px;
}

.search input {
    background: none;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    transition: 0.3s;
}

.search input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search button {
    width: 30px;
    height: 100%;
    background: #a0b0ba;
    padding-top: 2px;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;
}

.search button:hover {
    background: #007ebd;
}

section {
    margin: 60px 0;
}

.transition, .btn, .hoverBgMain, .hoverBgMainLight, .hoverColorMainLight, .hoverColorMain, a {
    transition: 0.25s;
}

.hoverColorMain:hover {
    color: #007ebd;
}

.hoverColorMainLight:hover {
    color: #00a3f5;
}

.hoverBgMainLight:hover {
    background: #00a3f5;
}

.hoverBgMain:hover {
    background: #007ebd;
}

.btn {
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.43;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-blue {
    background: #0088cc;
    border: 1px solid #0088cc;
    box-shadow: 0 2px 0 0 #006699;
    color: #fff;
}

.btn-blue:hover {
    background: #00a3f5;
    border: 1px solid #0088cc;
}

.btn-gray-outlined {
    border: 1px solid #999;
    color: #666;
}

.btn-gray-outlined:not(.btn-gray-default):hover {
    border: 1px solid #fff;
    background: #007ebd;
    color: #fff;
}

.btn-gray-outlined.btn-gray-default:hover {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn-white-outline {
    border: 1px solid #fff;
}

.btn-white-outline:hover {
    border: 1px solid #fff;
    background: #007ebd;
    color: #fff;
}

.btn-text-blue {
    color: #385c90;
    font-weight: 700;
}

.btn-text-blue:hover {
    background: #f5faff;
}

.arrow {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url("../images/icons/arrowBlue.svg") center/contain no-repeat;
}

.arrowGray {
    background-image: url("../images/icons/arrowGray.svg");
}

.arrowWhite {
    background-image: url("../images/icons/arrow.svg");
}

.fullImgCover {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}