@media (max-width: 1300px) {
    .onDesc, .mobHide {
        display: none !important;
    }

    :root {
        --mobGridGap: 10px;
        --lgx: 1fr;
    }

    .grid {
        grid-template-columns: var(--lgx);
        grid-gap: var(--mobGridGap);
    }

    section {
        margin: 30px 0;
    }

    .header__top {
        padding-left: 0;
    }

    .header__center {
        margin-left: 10px;
    }

    .header__center p {
        font-size: 13px;
    }

    .home__it.rtl .home__info {
        margin-left: 0;
    }

    .inst__wrp a {
        margin-bottom: 0px;
    }

    .inst__it {
        margin-bottom: 10px;
    }

    .bnr__wrp {
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 25px;
    }

    .partners .swiper-slide {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .partners__it a {
        display: none;
    }

    .partners__it a:first-child {
        display: block;
    }

    .contacts__wrp {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .breads {
        margin-top: 10px;
        padding-top: 40px;
    }

    .mission {
        margin-top: 20px;
    }

    .question__wrp {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .question__box {
        padding: 25px;
    }

    .boxSidebar__wrp {
        display: block;
    }

    .sidebar {
        margin-bottom: 20px;
    }

    .cards__it {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        padding-left: 0;
    }
}

@media (max-width: 840px) {
    :root {
        --mdx: 1fr;
    }

    .grid {
        grid-template-columns: var(--mdx);
    }

    .project__wrp {
        display: block;
    }

    .project__r {
        margin-top: 20px;
    }

    .sidebar > ul > li ul a {
        margin-bottom: 6px;
    }

    .project__swiper-it, .project__swiper {
        height: 350px;
    }

    .project__bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .links {
        margin-top: 10px;
    }

    .burger {
        position: relative;
        z-index: 3000;
        width: 38px;
        height: 34px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        border-radius: 5px;
        background: #171717;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .burger:hover {
        background: #2a2a2a;
    }

    .burger img {
        width: 22px;
        height: 22px;
    }

    .burger img:nth-child(2) {
        display: none;
        width: 16px;
        height: 16px;
    }

    .burger.active img:nth-child(2) {
        display: block;
    }

    .burger.active img:nth-child(1) {
        display: none;
    }

    .searchToggler {
        display: block;
    }

    .header__nav {
        position: absolute;
        top: 133px;
        left: 0;
        width: 100vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        background: #2a2a2a;
        margin-top: 0;
        display: none;
    }

    .header__nav ul {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header__nav ul li {
        border-bottom: 1px solid rgba(163, 163, 163, 0.15);
    }

    .header__top {
        display: -ms-flexbox;
        display: flex;
        grid-template-columns: initial;
    }

    .header__top > a:nth-child(1), .header__top > a:nth-child(2) {
        margin-right: 20px;
    }

    .header .logo {
        width: 250px;
    }

    .header__bottom {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        grid-template-columns: initial;
    }

    .header__phone-wrp {
        display: none;
    }

    .header__center {
        display: none;
    }

    .header .searchToggler {
        border-radius: 5px;
        margin-left: auto;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        padding-top: 2px;
        height: 30px;
        width: 30px;
    }

    .header .searchToggler img {
        max-width: 15px;
        display: none;
        margin-top: -4px;
    }

    .header .searchToggler.active img {
        display: block;
    }

    .header .searchToggler.active i {
        display: none;
    }

    .header .search {
        position: absolute;
        top: -15px;
        left: 20px;
        width: calc(100% - 73px);
        height: 30px;
        background: #fff;
        padding: 0;
        -ms-flex-pack: end;
        justify-content: flex-end;
        opacity: 0;
        pointer-events: none;
        transition: 0.35s;
    }

    .header .search button {
        border-radius: 5px;
    }

    .header .search.active {
        opacity: 1;
        pointer-events: initial;
        top: 6px;
    }

    .header .search input {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
    }

    .header__nav a {
        white-space: initial !important;
    }

    .header__nav > ul > li > a {
        background: #2d2d2d;
        -ms-flex-pack: start;
        justify-content: start;
        text-align: start;
        border-bottom: 1px solid #333333 !important;
    }

    .header__nav > ul > li.active > a {
        background: #232323;
    }

    .header__nav .dropdown-menu, .header__nav .dropdown-submenu {
        position: static;
        border-radius: 0px;
    }

    .header__nav .dropdown-menu li, .header__nav .dropdown-submenu li {
        border-bottom: none;
    }

    .header__nav .dropdown-menu a, .header__nav .dropdown-submenu a {
        background: #2d2d2d !important;
        color: #fff;
        border-radius: 0 !important;
        border-bottom: none;
    }

    .header__nav .dropdown-menu a {
        border-bottom: 1px solid #333333 !important;
    }

    .header__nav .dropdown-menu > li a {
        padding: 6px 10px 6px 40px;
    }

    .header__nav .dropdown-submenu {
        padding-bottom: 15px;
        background: #2d2d2d;
    }

    .header__nav .dropdown-submenu > li a {
        padding: 7px 10px 7px 55px;
    }

    .header__nav .dropdown-menu.have-submenu > li > a:after {
        content: none;
    }

    .home {
        margin-top: 0;
    }

    .header .burger {
        display: -ms-flexbox;
        display: flex;
    }

    .projects__it img {
        height: 200px;
    }

    .projects__title {
        margin-bottom: 2px;
    }

    .footer__wrp {
        grid-template-columns: 1fr;
    }

    .footer__r {
        -ms-flex-align: start;
        align-items: start;
        padding-left: 0;
    }

    .link18 {
        font-size: 16px;
    }

    .vacancies .accord-arrow {
        margin-right: 10px;
    }

    .vacancies .accord-head div:last-child {
        font-size: 14px;
    }

    .vacancies .accord-head span {
        margin-right: 10px;
    }

    .vacancies__tabItem {
        font-size: 12px;
        padding: 6px 10px;
    }

    .vacancies .accord-head div:last-child {
        margin-left: 0;
    }

    .new__wrp {
        grid-template-columns: 1fr;
    }

    .new__r {
        -ms-flex-order: -1;
        order: -1;
    }

    .new__img {
        max-width: 100%;
        margin: 0 auto;
    }

    .bnr-mini {
        grid-template-columns: 1fr;
        -ms-flex-align: center;
        align-items: center;
    }

    .bnr-mini .btn {
        margin: 0 auto;
        -ms-flex-order: 1;
        order: 1;
    }

    .zoom .tags {
        grid-template-columns: 1fr;
    }

    .services__img {
        -ms-flex-pack: start;
        justify-content: start;
    }

    .services__wrp {
        grid-template-columns: 1fr;
    }

    .modal {
        max-width: 100%;
        width: 100%;
    }

    .modal__wrp {
        width: calc(100% - 40px);
    }

    .modal-close {
        -webkit-transform: none;
        transform: none;
    }
}

@media (max-width: 500px) {
    .header__top > a:nth-child(1), .header__top > a:nth-child(2) {
        margin-right: 8px;
        font-size: 12px;
    }

    .header__top > a:nth-child(1) i, .header__top > a:nth-child(2) i {
        margin-right: 3px;
    }

    .footer__c {
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }

    .footer__wrp {
        grid-gap: 50px;
        margin-top: -10px;
    }

    .table > div {
        grid-template-columns: 26px 1fr 1fr;
        grid-gap: 10px;
        font-size: 12px;
    }

    .modal__bottom {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .modal__bottom .btn {
        margin-top: 20px;
    }

    .modal-form, .modal__bottom, .modal__box {
        padding: 20px 30px;
    }

    .modal__box {
        padding-right: 40px;
        padding-left: 15px;
    }
}

@media (max-width: 370px) {
    .header__top {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .header .social {
        -ms-flex-order: -2;
        order: -2;
        width: calc(100% - 40px);
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header .searchToggler {
        -ms-flex-order: -1;
        order: -1;
    }

    .header__top > a:nth-child(1), .header__top > a:nth-child(2) {
        width: 50%;
        margin: 10px 0 0 0;
    }

    .header__nav {
        top: 165px;
    }
}

@media (min-width: 1300px) {
    .onMob {
        display: none !important;
    }
}